:root{
  --white-color: #f3f3f3;
  --bg-color: #ededed;
  --m-color: #4983ff;
  --m-h-color: #598eff;
}

* {
  margin:0; 
  padding:0;
  font-family: roboto, sans-serif;
  color: var(--white-color);
}

body{
  background-color: var(--bg-color);
}

h1{
  font-size: 3rem;
}

/*-------------------------- Cards --------------------------*/
.cardContainer {
  display: grid;
  grid-template-rows: 2fr repeat(4, 1fr);
  font-size: 1.2rem;
  padding: 20px;
  background-color:var(--m-color);
  border-radius: 15px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.087);
}

.btnCard{
  background-color:var(--m-color);
  border-radius: 10px;
  border: var(--white-color) 1px solid;
  color: var(--white-color);
  font-size: 1.2rem;
}

.btnCard:hover{
  background-color: var(--m-h-color);
  cursor: pointer;
  transform: scale(1.1);
}

.cardItem {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 800;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  padding-top: 5px; 
}

.btnDelete,
.btnReadStatus {
  width: 100px;
  height: 30px;
  font-weight: 600;
}


/*-------------------------- Form --------------------------*/
#form {
  border: 1px solid black;
  text-align: center;
  height: 350px;
  width: 300px;
  background-color:var(--m-color);
  margin: 10% auto;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  font-weight: 600;
  display: grid ;
  grid-template-rows: repeat(4 , 1fr) 2fr;
  font-size: 1rem;
}

.formItem{
  display: flex;
  flex-direction: column;
}

.formCheck{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input{
  background-color: var(--m-color);
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

input[type="checkbox"] { 
  accent-color: var(--m-color);
}

#formBg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.btnAdd,
.btnCancel{
  background-color:var(--m-color);
  border-radius: 10px;
  border: var(--white-color) 1PX solid;
  color: var(--white-color);
  height: 50px;
  width: 100px;
  font-weight: 600;
  font-size: 1.3rem;
}

.btnAdd:hover ,
.btnCancel:hover{
  background-color: var(--m-h-color);
  cursor: pointer;
}

/*-------------------------- New Book --------------------------*/
#newBtn{
  display: flex;
  justify-content: center;
}

#btnNewBook{
  height: 60px;
  width: 120px;
  border-radius: 15px;
  margin-top: 20px;
  border: none;
  background-color: var(--m-color);
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.087);
}

#btnNewBook:hover{
transform: scale(1.05);
background-color: var(--m-h-color);
cursor: pointer;
}

/*-------------------------- Main section --------------------------*/
#main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3 , 1fr);

}

#mainContainer {
  display: flex;
  flex-direction: column;
}


/*-------------------------- Header Section --------------------------*/
#header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: var(--m-color);
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.3rem;
}


/*-------------------------- Footer --------------------------*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--m-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.link:hover {
  color: #ffffff;
}
